<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.progetto_programmazionemobile">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_sports_tennis_24"
        android:label="QuickPlay"
        android:roundIcon="@drawable/ic_baseline_sports_tennis_24"
        android:supportsRtl="true">
        <activity android:name=".View.Selezione_2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"></activity>
        <activity
            android:name=".View.Selezione_1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".View.registrationCompletedPopUp"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".View.LogoutPopUp"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".View.SearchResult"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.HomePage_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".View.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>